[2020-06-08 19:04] markmichon opened #51 "Add contributing guide"
Add details on how to contribute including:
- `CONTRIBUTING.md` with details on dev environment, submitting PRs, etc
- Add issue and PR templates
- Add Contributors code of conduct (https://www.contributor-covenant.org/)

[2020-06-08 19:05] markmichon opened #52 "Add upgrade guide"
Add details on how to upgrade to a newer version of pizzly. Particularly one for the heroku deployments, as people using it might be less familiar with updating a server/db application.

[2020-06-22 13:02] skwidy opened #58 "Cannot find module ./types"
Using an Angular 7 project, we're getting the following error when using the client:
[code]

**Steps to reproduce:** probably juste to create an new Angular project from the CLI?

[2020-06-22 13:30] Frenchcooc commented on #58
Hi Guillaume. Sorry to read that you're facing an issue with Pizzly. I'm going to look into it and will get back here asap.

[2020-06-24 08:08] didroe opened #60 "Provide a way to refresh a token whilst fetching it"
**Use case**: Using Pizzly for auth but not using the proxy

**Current situation**: There is an API `/:integrationId/authentications/:authenticationId` for fetching the auth info needed to make a request without the proxy. But this endpoint does not support refreshing tokens.

**Feature request**: Provide a separate endpoint (or parameter for the endpoint above) that supports refreshing the token

[2020-06-24 08:16] Frenchcooc commented on #58
Hey. Thanks again for reporting this issue.

Here are the steps that let me reproduce it on my local setup.

[code]

Then opened main.ts and added

[code]

This triggered the error in my terminal:

[code]

❌ The issue was due to the types definition that was not included at built time.
✅ I've renamed the file `src/types.d.ts` to `src/types.ts` to make sure that the types definition are within the

[2020-06-24 08:24] Frenchcooc commented on #60
Great idea! Thanks for proposing this Dave ;) Out of curiosity, any particular reason you'd prefer to use Pizzly as an OAuth manager and not fully with the proxy?

[2020-06-26 12:22] nabilfreeman opened #62 "Clearer instructions for "Securing your instance" when not using direnv"
Hi there!

I noticed that the instructions on "Securing your instance" (linked by default from Pizzly startup page) are geared towards using `.envrc` and `direnv`.

For people deploying to a PaaS like Heroku or Platform this isn't so relevant and might lead people to try to create those files in a locally cloned repo and commit them (which wouldn't work!)

The ideal would be to add a section such

[2020-06-26 14:11] nabilfreeman opened #63 "Xero integration doesn't match official docs"
Hey there,

I'm working on connecting our Xero integration via Pizzly.

The configuration in `integrations/xero.json` doesn't match the official Xero docs:

https://developer.xero.com/documentation/oauth2/auth-flow
https://developer.xero.com/documentation/oauth2/sign-in

Both require the use of `https://identity.xero.com` rather than `https://api.xero.com/oauth`. I'm unable to connect with the ori

[2020-06-26 15:09] nabilfreeman opened #65 "Instructions for accessing an integration via API (/proxy/integration-name)"
There is already excellent documentation about accessing management functionality via API (e.g. get config details, update integrations) but I noticed that the behind-the-scenes stuff happening in `pizzly-js` is not documented.

For example, if my pizzly URL is `https://pizzly-freeman.herokuapp.com` and I have a Trello integration, I can do a CURL request:

`https://pizzly-freeman.herokuapp.com/pr

[2020-06-26 15:27] nabilfreeman commented on #65
Here's the nice UI I mentioned:

<img width="1029" alt="Screenshot 2020-06-26 at 16 27 13" src="https://user-images.githubusercontent.com/2470659/85874059-f67e4000-b7c9-11ea-801c-14a8b84f8b8d.png">

[2020-06-26 16:05] nabilfreeman opened #66 "Pizzly-js not supported on Node.js (only client-side web)"
PIzzly-js is built with es6 syntax which is fully supported on Node 13 and above.

However on Node 8-12 the only way to enable this is by passing `--experimental-modules` to the Node executable.

In some situations this isn't possible (for example applications running on AWS Lambda which at time of writing doesn't support versions above 12 for Node.js), so some additional steps are needed for comp

[2020-06-26 17:22] nabilfreeman commented on #66
Ok, I had to jump through a lot of hoops to get this working on AWS Lambda and Node.js v12.

Here is what went into my postinstall script:

[code]

And it works!!!

Now I think it's clear that `pizzly-js` is actually just meant for browser use which explains the es6 development style mentioned above.

However it is possible to use this library on Node in the same way as Bearer. Are there any plans

[2020-06-26 21:19] markmichon commented on #66
Hi @nabilfreeman, as you mentioned the client is intended for browsers (the reliance on fetch is the big blocker, more than es6, as well as the back and forth between windows to perform the OAuth dance), but I'll let @Frenchcooc chime in with any details on any future plans for a serverside implementation.

For a less involved workaround, you *should* be able to perform proxying by hitting the `/p

[2020-06-26 21:27] nabilfreeman commented on #66
Hey @markmichon, thanks for the speedy reply. Yes you're right that should work well, bonus points for using node-fetch so on topic!! Haha. Just need to add basic auth to that for secured hosts.

For us we had a lot of implementations built around the original `@bearer/node` client which had the same syntax, so this method was easier for getting the migration done in time for the shutdown date.

A

[2020-06-29 08:37] skwidy commented on #58
Great thanks for the update :) 👍

[2020-06-29 13:32] nabilfreeman commented on #66
Update: I ran into some more issues with the Pizzly JS library using public key instead of secret key so I quickly wrote my own module today for using Pizzly on back-end.

It depends on Axios and requires

Gist here:
https://gist.github.com/nabilfreeman/5ea3ab66075a0caa8ecb1347459b8f08

Use like this:

[code]

[2020-06-30 09:08] nabilfreeman commented on #63
Closing this, #64 resolves the issue 🎉

For anybody coming from Google, you will need to connect to Xero via OAuth2. Endpoints are above in the first post's links, and the PR will explain the `tenant-id` thing you need to do to manage someone's account.

[2020-06-30 09:08] #63 closed

[2020-06-30 10:34] Frenchcooc commented on #66
Hi Nabil. Thanks a lot for sharing your Gist. As said by Mark, `pizzly-js` works only within the browser. Not having a Node client is really a pain, I totally agree. I'll take some time this week to release an official SDK for Node. I feel it's really missing.

Trying to run `pizzly-js` from a node runtime should have triggered an error though. Did you get over it? I might improve the error messag

[2020-06-30 10:41] nabilfreeman commented on #66
There wasn't any error @Frenchcooc, instead I got several layers of errors mainly about ES6 syntax (can't run Node 13 on Lambda for native ES6 support). So any Node version 12 or below wouldn't be able to even import the `pizzly-js` library.

For that reason I hacked it to use the compiled index.umd.js module via a postinstall script above. It almost worked, but when doing `get` requests `pizzly-j

[2020-06-30 14:40] Frenchcooc commented on #66
Hi Nabil, very interested to have your feedback on this PR #69 (Node.js client).

[2020-07-01 08:41] Frenchcooc commented on #66
Closing this issue as the Node.js client has been released (see PR #69). Feel free to open another issue if ever there's something with this new client.

[2020-07-01 08:41] #66 closed

[2020-07-03 07:07] Frenchcooc commented on #51
@markmichon  I'm closing this issue for now, as most items are now covered in the new README (except issue + PR templates but this might come later).

[2020-07-03 07:07] #51 closed

[2020-07-03 14:05] Frenchcooc opened #72 "Support Datananas"
Datananas - https://www.datananas.com/ - is a sales enagement software.

They have implemented the OAuth2 authentication framework in a non-compliant way by asking application owner to provide provide there `client_id` + `client_secret` + `code` within the query string. Here's an example (with filtered credentials):

[code]

The [RFC 6749](https://tools.ietf.org/html/rfc6749#section-4.1.3) defines

[2020-07-09 00:44] picsoung opened #74 "Support for non-oauth APIs"
Hey Pizzly/Bearer team 👋

Good job on open-sourcing Pizzly, looks really good!

There is one thing that I miss: is the support for APIs that don't use Auth for authentication.

Is that something you plan to add in the future?

Thanks

[2020-07-10 10:03] Frenchcooc commented on #74
Hi @picsoung! Thanks a lot for your feedback. We focus on OAuth based APIs today, as we believe it's where Pizzly can bring a lot of value. Adding more APIs and keep improving the developer experience are the main focus for now ;)

[2020-07-10 10:20] Frenchcooc opened #75 "Issue with SmartPension"
_This is a bug reported by @Hagbarth . I have not try to reproduce it yet. Just writing what he's shared with me_

## How to reproduce:

1. Add thee SmartPension API with the following config:

[code]

2. Create an OAuth application at SmartPension website ([link](https://partner.autoenrolment.co.uk/partners/sign-up))
3. Configure the API in your Pizzly dashboard
4. Try to connect

[2020-07-10 10:33] Hagbarth commented on #75
For context this is what I'm seeing:
![ezgif-2-304885b853d8](https://user-images.githubusercontent.com/2462366/87145361-7f58a980-c2a9-11ea-941a-6b0124e04983.gif)

As you can see, I'm taking no action in the popup before the error message appears.

[2020-07-10 10:36] Hagbarth commented on #75
Error from the console:

[code]

[2020-07-10 13:18] Frenchcooc commented on #75
Hi @Hagbarth! I believe this issue comes from the fact that SmartPension consent screen uses `postMessage` to send event to the parent window. They probably use that in their own authentication scenario, but that interfers with Pizzly!

I've made changes in the PR #76 and have released a new version of pizzly-js (`v0.2.6`). Can you update your version and try again? This should work as expected no

[2020-07-10 15:13] joaodias commented on #75
Hi @Frenchcooc! I'm working with @Hagbarth on this. The `response type is not supported error is gone` 🙌

However, we now get a new error after the modal closes:

[code]

Do you have any thoughts on why this is happening?

[2020-07-11 19:52] Frenchcooc commented on #75
Hi @joaodia! Thanks for reporting this issue. I've introduced a bug by fixing the previous issue... Latest PR #77 fix the bug and a new version of pizzly-js has been published (`v0.2.7`). I'm really sorry for the trouble caused here.

[2020-07-11 22:00] joaodias commented on #75
@Frenchcooc no problem! Thanks for fixing so fast ⚡

I confirm it's fixed now 🙌

Closing the issue

[2020-07-12 14:44] #75 closed

[2020-07-17 12:39] Frenchcooc commented on #62
Thanks for the feedback Nabil. I've finally take some time to improve the instructions on "Securing your instance".

- PR #79 introduces a brand new page on the dashboard;
- and [the documentation has been improved](https://github.com/Bearer/Pizzly/wiki/Secure-your-instance), with link on how to proceed in Heroku.

This means that I'm closing this issue for now. Feel free to reopen it if ever you

[2020-07-17 12:39] #62 closed

[2020-07-17 13:23] Frenchcooc commented on #72
Closing this issue as labelled `wontfix`.

[2020-07-17 13:23] #72 closed

[2020-08-31 09:31] Frenchcooc commented on #60
Hi @didroe ! I'm closing this issue as it has been released in the latest version of Pizzly. Thanks again for proposing this!

[2020-08-31 09:31] #60 closed

[2020-08-31 13:08] ulf1 opened #87 "Wiki page is private"
The page https://github.com/Bearer/Pizzly/wiki/Reference-:-Dashboard
says
![image](https://user-images.githubusercontent.com/8018044/91723237-bd809400-eb9b-11ea-857b-3e6c95a1dd0f.png)

[2020-08-31 13:56] ulf1 opened #88 "How to generate SECRET_KEY and PUBLISHABLE_KEY"
Hello, how can I generate `SECRET_KEY` and `PUBLISHABLE_KEY`?

[2020-08-31 14:11] Frenchcooc commented on #87
Hi @ulf1! Thanks for reporting this. The wiki page was not created yet. This has been fixed ;)

[2020-08-31 14:11] #87 closed

[2020-08-31 14:15] Frenchcooc commented on #88
Hi @ulf1. You can use a password manager to create unguessable string and save it in the manager.

Another thing is to use a command line, such as `date +%s | sha256sum | base64 | head -c 32 ; echo` ([more examples](https://www.howtogeek.com/howto/30184/10-ways-to-generate-a-random-password-from-the-command-line/))

[2020-08-31 14:15] #88 closed

[2020-09-01 00:13] SteveSummerson opened #89 "Missing Documentation"
Incredibly cool platform. I'm excited to test and when trying to install it locally or on an EC2 instance I'm not following where do you set the database credentials?

On the getting started page, it goes right from `yarn install` to `yarn db:setup` it obviously failed since I would like to use a RDS hosted Postgres database and I never had the chance to update it. Does it go int he .envrc file? I

[2020-09-01 07:23] Frenchcooc commented on #89
Hi Steve! I haven't tried installing Pizzly on EC2. But I believe it should work A to Z. What you need is to set environments variable to create the connection to the database.

If you look at the [database configuration file](https://github.com/Bearer/Pizzly/blob/master/src/lib/database/confi/index.ts), Pizzly uses `DATABASE_URL` which you can set with a PostgreSQL Connection URL (e.g. `postgresq

[2020-09-01 07:25] Frenchcooc commented on #89
As said, I'm not familiar with EC2, but looks like JDBC URL are supported. Look at this tutorial: https://aws.amazon.com/getting-started/hands-on/create-connect-postgresql-db/

[2020-09-07 08:54] Frenchcooc commented on #89
Hi @SteveSummerson! I'm closing this PR as I haven't  heard back from you. Feel free to comment again if you still need help

[2020-09-07 08:54] #89 closed

[2020-09-07 09:01] SteveSummerson commented on #89
@Frenchcooc thanks so much for your response.

I've actually decided to stick with the Heroku you've created as its the easiest way to get started. Still testing and learning more, I have quite a lot to learn. Seems investing time in learning node is a worthwhile investment so I've begun to do that.

I did get the basics up and running and working fine.

Again thanks for your response.

[2020-09-07 14:53] Devdre1909 opened #90 "Make a POST/PUT"
I am presently using Pizzly to integrate with Zoom, worked fine, it was almost magical.
Now I need t make a post request to a zoom endpoint, how do I do this?

Tried this, where this.meetingRequest is the object I want to send

[code]

[2020-09-07 15:05] Frenchcooc commented on #90
Hi @Devdre1909!

You're definitely on the right path. Pizzly does not support absolute URL for now - which is something I'd glad to change. For now, you need to provide the relative path based on [Zoom's configuration](https://github.com/Bearer/Pizzly/blob/230676db03b11c5b45b4d11faf44bf5386d04e84/integrations/zoom.json#L14).

Here's your snippet changed accordingly:

[code]

I haven't try this sni

[2020-09-07 15:23] Devdre1909 commented on #90
Thank you, especially for the quick reply

It didn't work, but I want back to the Wiki page, https://github.com/Bearer/Pizzly/wiki/Reference-:-Proxy#body, this worked for me.

[code]

My new code

[2020-09-08 07:44] #90 closed

[2020-09-08 12:28] eusonlito commented on #89
Hello @Frenchcooc!

I'm trying to install in a own VPS but .envrc is not used on `yarn db:setup`.

I have the `.envrc` file with:

[code]
But yarn command return:

[code]

Thanks!

[2020-09-08 15:11] knpwrs opened #91 "Typo in Repository Description"
![image](https://user-images.githubusercontent.com/174864/92494716-0f40a400-f1c4-11ea-8ade-49b11b3afb10.png)

[2020-09-08 15:31] Frenchcooc commented on #91
Oops! This is embarassing. The pun was NOT intented here. Thanks a lot for reporting this ;)

[2020-09-08 15:31] #91 closed

[2020-09-08 16:48] eusonlito commented on #89
Finally I was able to run db:setup with a previous environment init with: `. .envrc`:

[code]

[2020-09-08 22:20] eusonlito opened #92 "Working without frontend :)"
I currently have a project connected with dropbox and google drive with oauth and all my connection is only using backend code.

1. My backend detect is user has a token on database related to service.
2. If token not exists, backend generate an auth url to oauth service (dropbox and google) with a redirect_url parameter to manage responses.
3. Backend check parameters (`state` and `code`) and gen

[2020-09-14 07:38] Frenchcooc commented on #92
@eusonlito Pizzly works great for both backend and frontend applications.

The only caveat with backend is that at some point you will need to prompt an authorization modal to the user. This needs to be managed by some frontend code (JS). But once you've an `authId` it's totally manageable from the backend.

* To prompt the authorization modal, here's [a lightweight snippet](https://github.com/Bea

[2020-09-15 15:05] Frenchcooc commented on #92
@eusonlito closing this issue as I haven't heard back from you. Feel free to open a new one if you still need help

[2020-09-15 15:05] #92 closed

[2020-09-18 07:05] SteveSummerson opened #96 "Changing Heroku Postgres Version"
Any idea why changing the add on in app.json from: "heroku-postgresql:hobby-dev" to "heroku-postgresql:standard-0"  refuses to launch successfully?

I have a paid heroku account with credit card on file etc.

When it gets up to:
"Run scripts & scale dynos" it comes back with simply: "Release failed"

Any feedback or insight would be very much appreciated.

[2020-09-18 10:11] Frenchcooc commented on #96
@SteveSummerson do you mind sharing the full logs session during a deployment of Pizzly? Here's how to have more logs with Heroku: https://devcenter.heroku.com/articles/logging#log-retrieval-via-cli-view-logs

[2020-09-18 10:14] Frenchcooc commented on #96
Also, if you deploy with the "Deploy to Heroku button", the app requires PostgreSQL with hobby-dev account. This is specified here: https://github.com/Bearer/Pizzly/blob/a04bc94f7d335379a84a9c9d89c9b5a3c87d2e2b/app.json

To overcome that, deploy Pizzly from your machine using Heroku CLI + Git: https://devcenter.heroku.com/articles/git

[2020-09-18 10:17] Frenchcooc commented on #89
@eusonlito just reading your comment right now. I'm sorry for that. I'd rather recommend you to create new issues next time. I'm not notified on closed issues. Great that you managed to make it work by yourself!

[2020-09-18 10:21] eusonlito commented on #89
@Frenchcooc no problem! I preferred not to repeat issues (about installation problems) :)

[2020-09-19 05:55] excogitatr opened #97 "Google Meet integration request"
Is there any integration of Google meet exists? If not will this [link](https://developers.google.com/calendar/create-events#conferencing) help?

[2020-09-21 13:46] Frenchcooc commented on #97
@excogitatr thanks a lot for the proposition. You can create a new configuration file to support Google Meet. Here's a similar PR where a contributor has added Spotify API : https://github.com/Bearer/Pizzly/pull/93

[2020-09-21 22:10] SteveSummerson commented on #96
So, I tried doing this via git by downloading git, installing the Heroku CLI and then pushing this code to a new app. This moves along quite nicely but ultimately failed with this message below:

[code]

[2020-09-23 04:10] SteveSummerson commented on #96
@Frenchcooc is correct. There's no way to use the button to install anything higher than their lowest tiers. Knowing that I dove into the next steps and here's an update:

1) The main issue with changing to higher version of Postgres even when using Git is because the code doesn't require SSL. The simple hack is to add ?ssl=true to the end of the postgres URI in your so it should look something li

[2020-09-23 08:44] Frenchcooc commented on #96
Thanks a lot for reporting this! Glad to hear you managed to make it work on Heroku. I'm closing the issue as it's now solved. I'm thinking about adding a new entry in the documentation with a link to your comment above in case someone is struggling. Will do it asap. Thanks again 👏

[2020-09-23 08:44] #96 closed

[2020-09-24 04:55] alexpineda opened #98 "Discord integration?"
Just wondering if this is in the works.

[2020-09-24 12:26] Frenchcooc commented on #98
Hi @alexpineda. Thanks for opening this issue. That would be great to support Discord!

New integration can be added with a JSON configuration file located within [./integrations](https://github.com/Bearer/Pizzly/tree/master/integrations). We are writing a guide on how to do that, to make it clearer. For now, feel free to look at other integrations configuration file and start a new PR with what y

[2020-09-25 05:48] #98 closed

[2020-10-02 13:07] Frenchcooc opened #100 "Zendesk API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Zendesk** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make thi

[2020-10-02 13:07] Frenchcooc opened #101 "Strava API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Strava** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this

[2020-10-02 13:07] Frenchcooc opened #102 "Smartsheet API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Smartsheet** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make

[2020-10-02 14:51] saikirankv commented on #102
@Frenchcooc I created a PR, can you review?

[2020-10-02 16:00] Frenchcooc opened #104 "Help Scout API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Help Scout (Mailbox API 2.0)** has been identified as a major API that we would love to support. Your mission is to create a configurati

[2020-10-02 16:01] Frenchcooc opened #105 "Mailchimp API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Mailchimp** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make t

[2020-10-02 16:03] Frenchcooc opened #106 "Pipedrive API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Pipedrive** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make t

[2020-10-02 16:04] Frenchcooc opened #107 "Pagerduty API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Pagerduty** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make t

[2020-10-02 16:05] Frenchcooc opened #108 "Coinbase API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Coinbase** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make th

[2020-10-02 16:06] Frenchcooc opened #109 "Ticketmaster API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Ticketmaster** has been identified as a major API that we would love to support. Your mission is to create a configuration file that mak

[2020-10-02 16:08] Frenchcooc opened #110 "Plaid API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Plaid** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this

[2020-10-02 16:10] Frenchcooc opened #111 "Square API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Square** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this

[2020-10-02 16:19] jsmuse commented on #105
Hi! I can do it

[2020-10-02 16:57] grvsood commented on #108
lemme pick this up

[2020-10-02 17:56] listopadiya commented on #109
I would be glad to help with it 🙂

[2020-10-02 18:03] nicksteenstra commented on #110
Hey @Frenchcooc! I'm on it :)

[2020-10-02 18:18] nicksteenstra commented on #107
Hey! I'll take this one :)

[2020-10-02 19:06] Frenchcooc opened #113 "Intuit API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Intuit** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this

[2020-10-02 19:07] Frenchcooc opened #114 "Sage API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Sage** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this A

[2020-10-02 19:09] Frenchcooc opened #115 "FreeAgent API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**FreeAgent** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make t

[2020-10-02 19:11] Frenchcooc opened #116 "Here.com API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Here.com** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make th

[2020-10-02 19:12] Frenchcooc opened #117 "Garmin Connect IQ integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Garmin Connect IQ** has been identified as a major API that we would love to support. Your mission is to create a configuration file tha

[2020-10-02 20:15] grvsood commented on #108
Please assign it to me

[2020-10-03 00:26] listopadiya commented on #109
I've checked Ticketmaster API documentation and tried to add integration for it, but didn't succeed.

Looks like Ticketmaster currently do not use OAuth with their APIs. They propose to use apiKey with all public APIs instead of OAuth - https://degratnik.github.io/products-and-docs/apis/getting-started/. Although OAuth guide is still in place - https://degratnik.github.io/products-and-docs/apis/oa

[2020-10-03 07:41] aneeshrelan commented on #116
Can I try this?

[2020-10-03 11:09] TheNoim commented on #106
I will try this.

[2020-10-03 12:05] TheNoim commented on #106
I mean I now have an integration JSON. But the thing is, it is nearly impossible to test it. I would first need to get an "App" into there market place. Not possible with local testing. However, it should work. I will still make the pr.

[2020-10-03 12:29] TheNoim opened #121 "Add "Hacktoberfest" to topics"
Hacktoberfest PR's will be invalid if this repo doesn't have the Hacktoberfest topic:

![Screen Shot 2020-10-03 at 14 29 06](https://user-images.githubusercontent.com/5133056/94991672-ce4e6c00-0584-11eb-87ea-2714bdcd8be2.png)

[2020-10-03 13:02] Frenchcooc commented on #121
Thanks a lot for reporting this. Will be updated ASAP.

[2020-10-03 13:12] codewithtim commented on #101
Happy to do this one

[2020-10-03 13:41] codewithtim commented on #111
Happy to pick this one up

[2020-10-03 14:32] grvsood commented on #108
#119 please review

[2020-10-03 17:42] listopadiya commented on #104
I've applied with a PR, checked it locally, integration works.

[2020-10-03 17:49] Frenchcooc commented on #121
Can you double check and confirm it's ok now?

[2020-10-03 18:12] TheNoim commented on #121
Yes, it is.

[2020-10-03 18:12] #121 closed

[2020-10-03 19:01] listopadiya opened #126 "Soundcloud API integration request"
As **Soundcloud** supports OAUTH authentication and provides nice API options to developers, would be good to add it into Pizzly.

Here are a few links to help you achieve this task:

* [Soundcloud official website](https://soundcloud.com/)
* [Soundcloud Developers Portal](https://developers.soundcloud.com/)
* [Soundcloud's API Reference](https://developers.soundcloud.com/docs/api/reference)
* [So

[2020-10-04 06:12] NimperX commented on #126
May I work on this @listopadiya 😎

[2020-10-04 23:22] listopadiya commented on #114
I've applied with a PR, checked it locally, integration works.

[2020-10-05 09:57] #107 closed

[2020-10-05 09:58] #106 closed

[2020-10-05 09:59] #102 closed

[2020-10-05 10:05] #101 closed

[2020-10-05 10:08] #111 closed

[2020-10-05 10:09] #114 closed

[2020-10-05 11:40] richardkyk opened #131 "Jira configuration undefined variable headers.atlassian_domain"
I'm trying to call the Jira endpoint "/search"  from the dashboard but I'm getting the error down below.

error:Object
type:"invalid_proxy_configuration_interpolation"
message:"Proxy configuration template interpolation error: Undefined variable headers.atlassian_domain used in template at "

I am able to get an Auth ID, and if I inspect it I can see the accessToken, which I have also verified tha

[2020-10-05 12:00] Frenchcooc opened #132 "Google Analytics API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Google Analytics** has been identified as a major API that we would love to support. Your mission is to create a configuration file that

[2020-10-05 12:01] Frenchcooc opened #133 "Instagram API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Instagram** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make t

[2020-10-05 12:12] rhetoricalraj commented on #133
Claiming.

[2020-10-05 12:49] omnone commented on #132
Hey , i would like to give it a try. Thanks!

[2020-10-05 13:27] Frenchcooc opened #135 "Goodreads API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Goodreads** is one of the top APIs that we would love to support. Your mission is to create a configuration file that make this API read

[2020-10-05 14:23] ftonato commented on #135
Hello,
Could I handle this?

[2020-10-05 15:04] omnone commented on #132
I'm having trouble building the project. Can you share any tips in order to run it locally?

[2020-10-05 21:23] lukas-mertens opened #137 "sevDesk integration"
I would like to add a sevDesk integration during Hacktoberfest, if that's okay. sevDesk is a cloud-accounting software, I use a lot so an integration would be very useful for me and most likely for many other users as well.

[2020-10-06 02:57] markmichon opened #138 "Remove dependency on manual config imports"
Dev experience enhancement:

Currently, each integration needs to be imported into the `index.ts` file in the integrations folder. Not a big deal, but it seems like something that could be done automatically at compilation time or when the server starts up by reading all the json files and changing the way integrations are added.

Thoughts? Any reason why this would be a bad idea that I'm overlook

[2020-10-06 07:02] Frenchcooc commented on #137
Hi @lukas-mertens. Sure that would be really great! Feel free to create a PR and we will review it + make it count towards Hacktoberfest.

[2020-10-06 07:33] Frenchcooc commented on #132
@omnone there's a full guide on how to setup Pizzly locally: https://github.com/Bearer/Pizzly/wiki/Getting-started - Let me know if there's something in it that you can't achieve.

[2020-10-06 07:34] #108 closed

[2020-10-06 07:36] #104 closed

[2020-10-06 07:37] #126 closed

[2020-10-06 07:38] #105 closed

[2020-10-06 07:57] shah78677 commented on #135
Hi. I am working on this integration. Will send a PR shortly!

[2020-10-06 08:13] listopadiya opened #139 "Shutterstock API integration request"
As **Shutterstock** supports OAUTH authentication and provides nice API options to developers, would be good to add it into Pizzly.

Here are a few links to help you achieve this task:

* [Shutterstock official website](https://www.shutterstock.com/)
* [Shutterstock Developers Portal](https://www.shutterstock.com/account/developers/apps)
* [Shutterstock's OAuth documentation](https://api-reference

[2020-10-06 08:34] listopadiya commented on #139
I've added PR with this integration and a small note regarding core code. Checked in local Pizzly instance.

[2020-10-06 08:43] listopadiya opened #141 "Vimeo API integration request"
As **Vimeo** supports OAUTH authentication and provides nice API options to developers, would be good to add it into Pizzly.

Here are a few links to help you achieve this task:

* [Vimeo official website](https://vimeo.com/)
* [Vimeo Developers Portal](https://developer.vimeo.com/)
* [Vimeo's OAuth documentation](https://developer.vimeo.com/api/authentication#obtaining-an-access-token)
* [Vimeo's

[2020-10-06 17:28] omnone commented on #141
Hey, i would like to give it a try . Thanks

[2020-10-07 13:07] #139 closed

[2020-10-07 13:10] #132 closed

[2020-10-07 13:14] Frenchcooc opened #144 "Uber API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Uber** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this A

[2020-10-07 14:47] zanio opened #146 "Github configuration file does not contain header to create a repository from template"
Hi,
Thanks to the team developing the pizzly library.  I have an issue with the configuration file for GitHub in the integration folder.

I need to create a repository using an existing template, but according to the documentation of Github API, the request Header requires a different header: Please see the code below as copied from GitHub [create a repository from template api](https://docs.githu

[2020-10-07 15:57] ry-v1 commented on #144
@Frenchcooc Can I try this

[2020-10-07 17:29] ry-v1 commented on #144
Submitted pull request #147. Please review

[2020-10-07 18:53] markmichon commented on #146
Hey @zanio, if I'm understanding correctly you want to be able to add custom headers to specific requests? Pizzly lets you do this without changing the core config file. GitHub uses headers like that for certain features sometimes. The Pizzly wiki has a section on [adding your own header for specific requests](https://github.com/Bearer/Pizzly/wiki/Reference-:-Proxy#headers).

[2020-10-08 04:28] zanio commented on #146
Thanks very much. Just seeing the docs. That page was hard to find

[2020-10-08 04:29] #146 closed

[2020-10-08 08:54] Frenchcooc commented on #146
@zanio feel free to share where you were looking for at first and you didn't find the information. The docs are always a work in progress ;)

[2020-10-08 09:03] #141 closed

[2020-10-08 09:06] Frenchcooc commented on #109
Thanks @listopadiya for reporting this! Sharing this thread to Ticketmaster support.

[2020-10-08 11:03] #144 closed

[2020-10-08 11:11] Frenchcooc commented on #131
@richardkyk Jira configuration file has been updated with this PR https://github.com/Bearer/Pizzly/pull/136. Can you update the Pizzly version you are using by pulling master?

[2020-10-08 11:44] richardkyk commented on #131
@Frenchcooc Perhaps "/ex/"  should not be included in the baseURL as you need to reach the "https://api.atlassian.com/oauth/token/accessible-resources" endpoint to get the cloudId before you can call the "https://api.atlassian.com/ex/jira/(cloud_id)/rest/api/2/project" endpoint.

[2020-10-08 14:07] omnone commented on #115
Hey , I'm on it. Thanks!

[2020-10-08 20:07] #135 closed

[2020-10-09 08:51] #115 closed

[2020-10-09 10:49] dopecodez commented on #97
@Frenchcooc , So, I checked out the google meets apis, and looks like it is not present right now according to this issue [here](https://support.google.com/meet/thread/49191030?hl=en) in google support and this stack overflow answer [here](https://stackoverflow.com/questions/61216047/is-there-direct-api-for-google-meet).

Instead, google seems to be more interested in the [hangouts and calendar ap

[2020-10-09 11:52] dopecodez opened #151 "Google Hangouts integration"
### Overview

When going through #97 , I noticed that the only major google API missing integration on `Pizzly` is the chats API.

### Solution

Added the `google-hangouts.json` file and raised a PR.

[2020-10-10 18:07] #151 closed

[2020-10-12 08:12] #100 closed

[2020-10-12 08:12] Frenchcooc opened #153 "Zendesk API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Zendesk** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make thi

[2020-10-12 15:18] Frenchcooc opened #155 "Drift API integration request"
In october, Pizzly teams up with Hacktoberfest 2020 to increase the number of API integrations to up to 100 APIs 🎉 To learn more about how to participate and win, look at [our Hacktoberfest guide](https://github.com/Bearer/Pizzly/blob/master/HACKTOBERFEST.md).

**Drift** has been identified as a major API that we would love to support. Your mission is to create a configuration file that make this

[2020-10-12 15:18] #97 closed

[2020-10-13 15:16] Frenchcooc commented on #116
@aneeshrelan anything I can do to help with this issue?

[2020-10-13 15:17] Frenchcooc commented on #131
@richardkyk I'm not sure what are the best options here. What do you recon?

[2020-10-13 15:17] Frenchcooc commented on #133
@rhetoricalraj anything I can do to help with the PR?

[2020-10-13 15:17] Frenchcooc commented on #137
@lukas-mertens are you still up to make a sevDesk integration?

[2020-10-15 13:48] lukas-mertens commented on #137
Hey, yes I am. I just didn't get to it yet. I hope I am going to be able
to do it during this week
On 20/10/13 08:18, Corentin wrote:

[2020-10-17 12:40] k-guy-dev commented on #153
@Frenchcooc I'll like to work on this one.

[2020-10-19 10:21] #133 closed

[2020-10-19 10:23] Frenchcooc commented on #109
Closing this issue unfortunately as I haven't heard back from Ticketmaster

[2020-10-19 10:23] #109 closed

[2020-10-20 19:09] lukas-mertens opened #162 "Document how to setup the local dev-environment with a postgres database"
Currently nowhere in the getting started-guide it is documented how to set the DB_PASSWORD and DB_USER for the database connection (they can be set as an environment variable). I was able to set it up by reverse engineering, but it would be nice if this was documented as well. I can't submit a PR to the Docs myself sadly, because GitHub doesn't support it, which is why I am creating this issue.

[2020-10-20 19:25] lukas-mertens commented on #137
Actually the new sevDesk-API isn't released yet and the old one doesn't use OAuth, so this issue doesn't make any sense ^^ I will work on another integration instead ;)

[2020-10-20 19:25] #137 closed

[2020-10-20 19:42] lukas-mertens commented on #110
I will try to do this ;)

[2020-10-21 07:47] #155 closed

[2020-10-21 07:58] Frenchcooc commented on #162
@lukas-mertens you're totally right! This was undocumented so far, by mistake. It has been fixed https://github.com/Bearer/Pizzly/wiki/Getting-started/_compare/e55ec0d945bb7398ad4857fe2244f800ac777d2e

[2020-10-21 09:41] BjoernAkAManf commented on #162
You might also want to reference the docker-compose file, which is already provided. One only needs to specify a password using     ```environment:
       - POSTGRES_PASSWORD=melon
[code]

[2020-10-21 12:05] Frenchcooc commented on #162
@BjoernAkAManf I'm more keen to let the `Getting Started` easy to follow - oriented toward new developers. docker-compose is already for advanced users to me.

But feel free to update/add comments in the `./docker-compose.yml` file.

[2020-10-23 11:39] listopadiya opened #168 "Unclear authorization parameters setting in integration configuration"
Pizzly instructions on custom integration say that in integration file `authorizationParams` object contains _any static parameters that need to be passed in during authorization. For example, the Discord API expects "response_type": "code" and "grant_type": "authorization_code" to be sent during authorization._
Although in some existing integrations there is also `auth` object which may contain t

[2020-10-23 12:24] Frenchcooc commented on #168
You're totally right @listopadiya. It's something that I've noticed with #165 as well. There's some cleanup to do with each integrations.

[2020-10-26 09:02] Frenchcooc commented on #162
Closing this issue. Feel free to reopen it if ever you feel it needs to.

[2020-10-26 09:02] #162 closed

[2020-10-31 11:23] de-footspeed opened #173 "Not able to refresh token via API"
I have not had any success with refreshing a token via /api/:integration/authentications/:authId/refresh on my instance, so to verify I set up a fresh instance on Heroku, configured Github, connected and successfully ran a request.

Then I dropped into my command line and ran:
curl -X POST https://myapp.herokuapp.com/api/github/authentications/a93c9c80-1afa-11eb-8f4c-edc17efd9c4e/refresh

The erro

[2020-11-02 09:44] KotskinKotskin opened #174 "Dockerhub official image"
Hi, great product!

Can you please provide offical image of pizzly to dockerhub?  Or, clear instruction to docker-based installation. Thank you.

[2020-11-02 10:51] #74 closed

[2020-11-02 10:51] #110 closed

[2020-11-02 10:51] #113 closed

[2020-11-02 10:51] #116 closed

[2020-11-02 10:51] #117 closed

[2020-11-02 10:51] #138 closed

[2020-11-02 10:51] #153 closed

[2020-11-02 11:09] rienafairefr commented on #174
I second this. As is, the repo's Dockerfile is not buildable (there is a undocumented `config` file/directory needed)

[2020-11-04 08:41] ishuacharis opened #175 "twitter integration"
is there any reason why twitter oauth is not working after filling the correct credentials both on twitter app creation and on pizzly config setup

[2020-11-04 08:48] Frenchcooc commented on #175
@ishuacharis this has been added with Twitter API v1 a few months ago. It should still work out!

[2020-11-04 08:50] Frenchcooc commented on #174
Thanks for the request! I'm not really familiar with Docker. If anyone experimented is interested to share good resources or a MVP, that would be really great!

[2020-11-04 08:51] Frenchcooc commented on #131
Closing this issue for now. Feel free to reopen it if needed.

[2020-11-04 08:51] #131 closed

[2020-11-04 08:55] ishuacharis commented on #175
i get the error below when i click on sigin with twitter button on my application:

error:
message: "{&#34;statusCode&#34;:401,&#34;body&#34;:&#34;{&#34;errors&#34;:[{&#34;code&#34;:32,&#34;message&#34;:&#34;Could not authenticate you.&#34;}]}&#34;}"
type: "{&#34;statusCode&#34;:401,&#34;body&#34;:&#34;{&#34;errors&#34;:[{&#34;code&#34;:32,&#34;message&#34;:&#34;Could not authenticate you.&#34;}]}

[2020-11-04 08:56] Frenchcooc commented on #173
@de-footspeed thanks for reaching out. As far as I can tell, GitHub provides lifetime accessToken, thus you do not need to refresh it. That's why Pizzly is failing to refresh it. The error could be more explicit though.

[2020-11-04 09:14] de-footspeed commented on #173
@Frenchcooc A more explicit error message would help with other custom integrations, of mine, that are failing as well. This would help me tweak my configuration files for the token refresh. I'll look at the code.

[2020-11-04 09:25] Frenchcooc commented on #173
@de-footspeed I've made a better error message here: https://github.com/Bearer/Pizzly/pull/176

[2020-11-04 09:29] Frenchcooc commented on #175
Seems to work on my side. Without more information, I'm unable to reproduce the error unfortunately.

[2020-11-04 09:35] ishuacharis commented on #175
this is the callback url i entered on twitter : https://prizzly-oauth-poll.herokuapp.com/auth/callback
website url: https://prizzly-oauth-poll.herokuapp.com
on pizzly config settings i entered my consumer secret and key
below is my connect function
 ` const conn  = () => {
  const prizzly = new Pizzly({
        host: "https://prizzly-oauth-poll.herokuapp.com"
      })
          const github =  pri

[2020-11-04 13:31] Frenchcooc commented on #175
Thanks. First, you should consider securing your instance ([how-to](https://github.com/Bearer/Pizzly/wiki/Secure-your-instance)). I'm able to retrieve a valid access token to GitHub by just opening your dashboard. This is unsecure.

Regarding your code, it looks okay. I don't know what's your issue unfortunately.

[2020-11-09 08:29] Frenchcooc commented on #175
Closing this issue as I haven't heard back from you. Feel free to open a new issue if you still struggle.

And secure your instance ;)

[2020-11-09 08:29] #175 closed

[2020-11-09 08:31] Frenchcooc commented on #173
Closing this issue as the discussion has moved to #176

[2020-11-09 08:31] #173 closed

[2020-11-09 09:21] KotskinKotskin commented on #174
@Frenchcooc can you please specify ENV variables for config? I will try create image

[2020-11-10 09:00] Frenchcooc commented on #174
Sure! All ENV variables used by Pizzly are exposed here: https://github.com/Bearer/Pizzly/blob/master/.envrc.example

[2020-11-11 00:16] guillaumemeyer opened #177 "Dynamic cloud id is not supported in Jira integration"
As described in the [Jira OAuth documentation](https://developer.atlassian.com/cloud/jira/platform/oauth-2-authorization-code-grants-3lo-for-apps/#apicall), requests that use OAuth 2.0 (3LO) are made via api.atlassian.com (not https://your-domain.atlassian.net).
The URL should use the following structure: `Jira apps: https://api.atlassian.com/ex/jira/{cloudid}/{api}`
And an authenticated call to `

[2020-11-11 00:22] guillaumemeyer opened #178 "Error during baseUrl interpolation using the Salesforce integration"
Looks like the `${auth.tokenResponse.body.instance_url}` tag from the baseUrl property of the [Salesforce integration](https://github.com/Bearer/Pizzly/blob/master/integrations/salesforce.json) is never available and generates an exception during the interpolation.
A quick analysis shows that the `tokenResponse` property doesn't exist, but the `tokenResponseJSON` is there:
![image](https://user-im

[2020-11-11 00:43] guillaumemeyer commented on #177
BTW, the `/oauth/token/accessible-resources` endpoint may return an array, and therefore it looks like there is no way to retrieve the site selected by the user during the scope approval process :-(
So my recommendation would be to include a new option in the proxy that would force the baseUrl property.

[2020-11-13 02:02] RyukyuColin opened #179 "Creating a new integration json doesn't add the API"
Documentation needs to be updated to include that any new /integrations JSON file must also be imported into /integrations/index.ts.

[2020-11-13 16:46] markmichon commented on #179
Nice catch @RyukyuColin. The wiki has been updated to reflect the omission 👍

[2020-11-13 16:46] #179 closed

[2020-11-16 16:57] guillaumemeyer commented on #178
@Frenchcooc is it something that could be solved just by updating the configuration or does it needs a fix?

[2020-11-17 09:25] Frenchcooc commented on #178
@guillaumemeyer looks like a glitch indeed. I'd recommend that you first give a try by updating the integration's configuration file to `tokenResponseJSON`. Did you try that already?

[2020-11-17 09:28] Frenchcooc commented on #177
@guillaumemeyer I believe Pizzly should support forcing the `baseUrl`. It's something required as well to fully support other APIs, such as Google Sheets API, that sometimes have different baseUrl depending on the actions performed.

Are you interested in giving it a try?

[2020-11-19 23:57] charlesdarkwind opened #180 "db:setup TypeError [ERR_INVALID_ARG_TYPE]: The "key" argument must be of type string or an instance of Buffer, TypedArray, DataView, or KeyObject. Received null"
I am doing the getting started, I have all the requirements, node installed, postgres running, I can login via pgadmin. I cloned the repo, yarn install,I entered the log in informations in the .envrc for DB_USER, DB_PASSWORD, etc. Everything above the "Database connection" section I did not change.

Then yarn db:setup gives this error:
[code]

[2020-11-20 09:11] guillaumemeyer commented on #178
I tried but the tokenResponseJSON is... wait for it... a stringified JSON, not an object :-( And through the interpolation, I can't use something like `${JSON.parse(auth.tokenResponseJSON).body.instance_url}` as far as I can remember...

[2020-11-20 09:12] guillaumemeyer commented on #177
Count me in to try it asap @Frenchcooc .
I need this capability for both Jira Cloud and Salesforce.

[2020-11-23 09:41] Frenchcooc commented on #178
Looks like a cat biting his tail to me... Will give it a try asap.

[2020-11-23 10:00] Frenchcooc commented on #180
Hi, here's the output that I have at the step `yarn db:setup` when following the [Getting Started]()

[code]

Apart from the two warnings, it states that it successfully managed to initiate the database. So you have probably an issue with your local configuration. Can you share your .envrc (by filtering the credentials)?

[2020-11-23 14:03] charlesdarkwind commented on #180
Here is the content but I get the error no matter which env variables I fill or not.
[code]

[2020-11-24 12:50] Frenchcooc commented on #180
Got it. Sounds like an issue between your local configuration and the `pg` package. Have a look to this issue: https://github.com/brianc/node-postgres/issues/2371 which looks very similar.

[2020-11-24 14:17] charlesdarkwind commented on #180
Thanks I think it works now after changing the conf file. I then had to set the env variables inside the windows variables manager because running the envrc did not appear to work.

[2020-11-24 14:17] #180 closed

[2020-11-28 17:08] Wazted opened #181 "Error after authorize connection to discord"
Hi,

I'm currently having an error after all authentications i do with Pizzly.

`Error: Authorization cancelled. The user has likely interrupted the process by closing the modal.`

Here is my code :
[code]

and the template :
[code]

I configured pizzly like that :
[code]

[2020-12-02 21:03] markmichon commented on #181
Hey @Wazted, I'm not up to date on Vue, but I suspect it might be the way you're handling everything inside `connect`. Have you seen [this article on vue and pizzly](https://dev.to/bearer/how-to-use-an-oauth-based-api-in-vue-js-1elo)? If not, it might help narrow down the problem.

[2020-12-08 02:01] jawaxman opened #182 "Payload not returned by connect"
When performing a connect (twitter, github, facebook), on success, the response contains only authId - payload is not present.

[2020-12-08 19:53] markmichon commented on #182
Hi @jawaxman. Looks like there is an error in our docs for the js and node clients. They currently don't return the full auth payload. Sorry about that!

Instead, we recommend using either Proxy mode, where you use the client's get/post/etc methods to pass the authId to the endpoint of your choosing, and Pizzly handles the tokens. Alternately, you can use the [authentications API](https://github.c

[2020-12-12 19:41] ogizanagi opened #183 "Github GraphQL API"
Hello there 👋🏻

The current Github integration provides a proxy to call the Rest API v3.
I'm wondering if there is any plan to support the GraphQL API?

[2020-12-13 11:39] ogizanagi opened #184 "AuthId endpoints with PUBLISHABLE_KEY"
The [wiki](https://github.com/Bearer/Pizzly/wiki/Secure-your-instance#publishable_key) about `PUBLISHABLE_KEY` mentions it can be used in order to make `auth` requests.
But it doesn't seem to actually work with the following endpoints:

- `/api/:integration/authentications/:authId` - To request a specific authentication
- `/api/:integration/authentications/:authId/refresh` - To refresh a specific

[2020-12-15 15:37] markmichon commented on #183
Hey 👋,

The way integrations are set up, they don't support multiple base URLs. That said, you could duplicate the GitHub integration, name it something else, and swap out the URL. AFAIK the auth scheme for v4 hasn't changed, and since GraphQL requests are just XHR calls under the hood there should be no issues with using Pizzly's proxy features.

Happy to accept a PR for a GraphQL specific one if

[2020-12-15 15:38] #182 closed

[2020-12-15 17:20] markmichon commented on #184
Hey, you're correct. The language is somewhat unclear in the wiki.

Only the secret key is used for the endpoints, and the publishable key is intended only to be used in proxy scenarios where you wouldn't want to expose the secret (like in client-side apps). We're overhauling the docs/wiki at the start of the year to clear some of that up.

As far as the feature, it's certainly an option as long a

[2020-12-18 07:32] ddveloper commented on #181
I am seeing same error message, I simply downloaded the [React example code](https://codesandbox.io/s/pizzly-github-react-demo-rq78z) and run `npm install` then `npm start` locally on my PC, after click on the button, chrome console log this error: ```Error: Authorization cancelled. The user has likely interrupted the process by closing the modal.```

[2020-12-18 15:15] markmichon commented on #181
Thanks @ddveloper, was able to reproduce. Looks to be a problem with the js client after 0.2.5. Will investigate, but in the meantime you can use `v0.2.5` as a workaround.

[2020-12-19 01:19] ddveloper commented on #181
using 0.2.5 I am seeing CORS error instead:
```Access to fetch at 'xxx.herokuapp.com/proxy/github/user?pizzly_pkey=yyyy' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request.```

[2020-12-21 16:08] markmichon commented on #181
For those affected, if you haven't already (particularly with the CORS issue), make sure you're using the latest version of Pizzly along with the latest version of the pizzly-js client. Using a slightly modified version of the example @ddveloper shared, here's a [codesandbox that is working for me](https://codesandbox.io/s/pizzly-github-react-example-1ofbc). Make sure to sub in your pizzly instanc

[2020-12-22 03:13] markocalvocruz opened #186 "Error with Spotify API - delete() request"
I'm trying to remove a song from an authenticated spotify user's playlist and for some reason, I get `Error 400 Missing Tracks`, even though I know the song is there and the playlist is correct

I am using [Pizzly from Bearer][1] to handle the API request

Any idea what could be causing this issue? This is the link to [Spotify's API Documentation][2]

This is an example output of `JSON.stringify(b

[2021-01-05 22:02] guillaumemeyer commented on #178
Any news? Any way I can help?

[2021-01-05 22:11] guillaumemeyer commented on #177
Any news?

[2021-01-06 02:34] markmichon commented on #177
@guillaumemeyer Hey, you're earlier comment made it sound like you were working on it. Is that not the case?

[2021-01-08 18:29] markmichon commented on #186
Hey @markocalvocruz after some testing I was able to reproduce this. DELETE is working on some other spotify endpoints, so it isn't a blanket problem there. I'll look into it further, but I can't give you a timeline at the moment.

For some context, the js client converts to fetch and sends it to Pizzly.  Then after handling the auth parts, Pizzly passes the request along as-is to Spotify. I suspe

[2021-01-09 22:09] markocalvocruz commented on #186
Hi Mark! Thank you so much for this reply! I was beginning to lose hope -
let me know how I might be able to assist

About Marko
<https://www.notion.so/Marko-Calvo-Cruz-cec9f36b992b472385cf2c11e23d2546>

On Fri, Jan 8, 2021 at 1:29 PM Mark Michon <notifications@github.com> wrote:

[2021-01-11 09:08] Nightbr commented on #174
Hey, here is how I Dockerized Pizzly:

1- Add a startup.sh at root (I will use this script to execute startup script such as migration and start the App)
[code]

2- Here is the updated Dockerfile

[code]

3- This is my docker-compose.yml to use the Docker image but you can build it and push it to your Docker registry (Docker Hub, ECR, Gitlab Registry, ...)

[code]

You run `docker-compose up -d` a

[2021-01-12 16:06] Nightbr opened #190 "Delete Authentications with nodejs client"
Hey, thanks for this amazing OpenSource project! It helps me a lot to manage service integration :muscle:

In my use case, I manage third-party service in my App and store the authId when the User has connected the service. But I would like to remove the Authentification with the nodejs client when the User delete (or disable) the service connection.

For example,

[code]

Thanks in advance for yo

[2021-01-12 19:16] markmichon commented on #190
Hey @Nightbr, thanks for being a part of the Pizzly community 💪!

Definitely a direction the node client could take. As-is, the node client is modeled after the JS client, so the feature-set comes from a mindset of limited access. Unfortunately this means none of the groundwork really exists for accessing those parts of the API, but it is definitely possible to build out. I'll flag this as an enha

[2021-01-14 17:53] kevinvermeersch opened #191 "Error with empty "scopes" in configuration"
When I try to authenticate to a service with a configuration where the "scopes" field is empty I get an error.

![Screenshot 2021-01-14 at 18 43 29](https://user-images.githubusercontent.com/2557662/104628375-6f76b380-5698-11eb-9841-0e5cf082eb67.png)

Looking through the code I found that line 59 throws an error because "config" is undefined.

https://github.com/Bearer/Pizzly/blob/6db035d15f2dd24f

[2021-01-15 15:48] markmichon commented on #191
Hey @kevinvermeersch, make sure that the API you're using doesn't require a scope (or require that the scopes set in your account with them match those sent). Every time I've hit a similar problem it normally is due to some mismatch with the scopes entered.

From the snippet you sent, config is defined further up and comes from the integration config. I may be mistaken, but I'm pretty sure you can

[2021-01-15 23:05] FractalHQ opened #192 "Heroku Deploy Error"
It seems the default Heroku config fails.  All I did was click the button, name the app, then click deploy.  I tried multiple times.  Any advice?

<img width="647" alt="Screenshot 2021-01-15 at 6 04 03 PM" src="https://user-images.githubusercontent.com/55504972/104786852-1f612500-575c-11eb-8673-0fe66bdb40ac.png">

[2021-01-17 21:31] markmichon commented on #192
Hi @FractalHQ, very strange. On my first attempt I was able to reproduce the problem. Then I tried again, and it worked without an issue. I suspect there are some intermittent problems on Heroku's end when provisioning the db. Either way, give it another try and see if you still experience the issue.

[2021-01-18 15:39] SamFrampton01 opened #193 "Typeform <> Pizzly Callback URL Forbidden"
I am trying to connect to Typeform integration using the Pizzly-JS library in React App. I've registered my app and added the callback URL provided in the pizzly dashboard following Typeform instructions.

When I add connect function to button click the auth window opens with no problem but Typeform is having an issue with the Redirect URI I provided in the app configuration. Returning FORBIDDEN:

[2021-01-18 16:30] markmichon commented on #193
Hi @SamFrampton01, make sure you are adding the callback URI that Pizzly mentions in the dashboard to the list of approved redirect URIs in typeform (see screenshot below). It follows the pattern like `https://YOUR-APP-NAME.herokuapp.com/auth/callback`

<img width="420" alt="Screen Shot 2021-01-18 at 8 26 32 AM" src="https://user-images.githubusercontent.com/1649672/104940964-5192a280-5967-11eb-9f

[2021-01-18 16:38] SamFrampton01 commented on #193
Hi @markmichon thanks for the quick response. I did as stated but have just refrehsed my token and re-updated the app and everything seems to work as expected now.

Problem closed.

[2021-01-18 16:39] markmichon commented on #193
Good to hear! Closing the issue.

[2021-01-18 16:39] #193 closed

[2021-01-18 17:12] kevinvermeersch commented on #191
@markmichon Thanks for the reply. I'm making a custom integration for Mautic (mautic.org). It's oauth configuration does not need any scope and fails if a scope is set.

I think there's typo on line 59. It should be: **scope: scopes || config?.scope || [],**

Optional chaining uses "?." instead of "!."

[2021-01-18 17:42] markmichon commented on #191
Changing the non-nullish chain to an optional chain doesn't appear to break APIs with scopes, but I'm unable to test if it fixes your problem as all the APIs I have access to are scoped. Could you try the change locally and see if it fixes your issue?

[2021-01-18 18:19] kevinvermeersch commented on #191
I'm not a TypeScript expert but I can confirm that this fixed my problem.

[2021-01-21 14:16] SamFrampton01 opened #194 "Error connecting Zendesk Zopim"
Hi,

Great tool btw been playing around with it for a few days now and super impressed.

I have a quick question on Zendesk Zopim Oauth credentials configuration requires the 'subdomain' query parameter to be encoded on URL parameters.

I had a quick glance over zendesk-chat. config and I can see there is a subdomain param but I think it might be breaking the integration and not being passed as a

[2021-01-22 04:14] Fastmind-inc opened #195 "Unable to connect to shopify"
I get an error saying

We were unable to connect you. Make sure the application is configured correctly and/or contact the application owner to proceed further.

Error: MISSING_API_CONFIG_HEADER: The API's Authorization URL configuration requires the 'shop' query parameter to be passed when connecting.

 when I look at the shopify integration it does show it need the "connnectParams.shop" in the u

[2021-01-25 16:34] Fastmind-inc commented on #195
We were able to figure it out for anyone who might ran into the same issue.

`await pizzlyClient.integration('shopify').connect({params:{shop:"<insert show name here>"}})`

[2021-01-25 18:44] andycloke opened #196 "Following 'Getting Started' GitHub example fails to create an authentication"
Firstly, awesome library. Thanks for all your work on it!

I'm running the app locally, on a Mac. I followed the steps in the (getting started docs)[https://github.com/Bearer/Pizzly/blob/master/docs/getting-started.md]. This included adding a `.envrc` file with custom DB credentials (which seems to work just fine).

After following the final step, (clicking the "Connect to GitHub" button), I am re

[2021-01-25 18:49] andycloke commented on #196
I set it up again from scratch and it worked. Something must have been wrong in the original config, my bad

[2021-01-25 18:49] #196 closed

[2021-01-26 03:35] markmichon commented on #195
Thanks for posting your solution @Fastmind-inc. The docs could definitely be more clear on how to handle connection params, so I'm adding it to the todo list 👍.

[2021-01-26 03:35] #195 closed

[2021-01-26 03:38] markmichon commented on #194
Hi @SamFrampton01, if you haven't resolved this, could you try using the connectParams during connection like this:

[code]

[2021-01-26 07:10] markocalvocruz commented on #186
Hey Mark - how are you. Are there any updates on this by any chance? Am
looking to launch my product soon and would be thrilled to be able to
include this feature. Am otherwise enjoying Pizzly and appreciate the work
your team does to support this service. . .

Thanks,
Marko
About Marko
<https://www.notion.so/Marko-Calvo-Cruz-cec9f36b992b472385cf2c11e23d2546>

On Sat, Jan 9, 2021 at 5:06 PM Marko

[2021-01-27 00:54] markmichon commented on #186
@markocalvocruz Unfortunately, like I mentioned there is no timeframe. We can't support every integration, and we encourage the community to contribute if they use an integration heavily. If it's really a pizzly-specific issue, you can try diving into the source itself and see if you can resolve the issue. I haven't seen similar issues in other integrations, and it appears that it is an edge case

[2021-01-29 05:40] Fastmind-inc commented on #191
@markmichon API's such as Mailchimp are not scoped which then end up causing that issue.

[2021-02-01 17:20] #191 closed

[2021-02-01 17:22] markmichon commented on #191
This should now be resolved. Regarding @Fastmind-inc's comment, I can confirm auth with mailchimp works with the fix as well (though api calls to mailchimp still require some extra work due to the way they require the client to send the server address)

[2021-02-01 20:06] Fastmind-inc opened #198 "Zoho CRM doesn't authenthicate correctly"
the zoho crm doesn't authenticate correctly, it should be like https://github.com/Bearer/Pizzly/blob/master/integrations/zoho-invoices.json

the header authorization shows

"Authorization": "Bearer ${auth.accessToken}",

like in zoho invoices it should be

"Authorization": "Zoho-oauthtoken ${auth.accessToken}",

seems to also be a similar issue with zoho subscriptions

[2021-02-01 20:08] Fastmind-inc commented on #198
The correct header is shown here  https://www.zoho.com/crm/developer/docs/api/v2/get-records.html

[2021-02-02 09:12] cfabianski commented on #198
Hey @Fastmind-inc, thank you for reporting.
Feel free to issue a Pull Request and we will review and get it merged as soon as possible.

[2021-02-06 08:10] grey-cat-1908 commented on #192
Yes, I have this error too. I tried to deploy 8 times, but I can't

[2021-02-07 12:03] danielsvane commented on #192
Same issue, tried multiple times

[2021-02-07 16:13] FractalHQ commented on #192
I've since tried again with no luck

[2021-02-07 17:21] markmichon commented on #192
Looking into this, as I am now able to reproduce. Sadly, heroku wipes the release phase log when it fails so it is increasingly hard to debug. At first glance, it looks SSL related. They've also made some updates to their postgres offerings in January, which lines up with when this issue popped up.

For anyone else trying to debug, you can fork this repo then use `https://heroku.com/deploy?templat

[2021-02-07 17:44] #192 closed

[2021-02-09 21:36] timmyg commented on #195
@Fastmind-inc @markmichon

hi all - do you have an example of actually using the shopify api to fetch data? I am getting a `422 (Unprocessable Entity)` when I try to `.get("/2021-01/orders.json?status=any")` with an authId I get back.  Not positive if that endpoint is structured correctly.

I created a codesandbox [here](https://codesandbox.io/s/pizzly-shopify-react-demo-yxnex?file=/src/App.js:146

[2021-02-09 22:19] markmichon commented on #195
@timmyg From a glance at your example when compared to fast's solution above, looks like you are setting the params on the integration method instead of on the connect method. Not sure if it will make a difference in this case, but could be the cause of your problems.

[2021-02-09 22:32] timmyg commented on #195
@markmichon yea I did try that as well with no luck. I am going to try to pull down Pizzly and run it locally.

Really appreciate what you all have built and for the quick response.

[2021-02-10 15:17] jgillard commented on #192
I just hit this issue, and have already pulled master with your latest commit mentioned above.

[code]

[2021-02-10 18:38] markmichon commented on #192
I had a few issues trying to reproduce @jgillard. Maybe heroku was having issues earlier? The 'deploy to heroku' button works thought:

<img width="670" alt="Screen Shot 2021-02-10 at 10 37 59 AM" src="https://user-images.githubusercontent.com/1649672/107555466-0f3a3b00-6b8c-11eb-8ea3-026fa2af6598.png">

[2021-02-11 12:54] timmyg commented on #195
btw - i changed `shopify.json` to the below and it worked:

[code]

I could then run:
[code]

not sure if I am setting something up incorrectly in my code or it this was a bug. I can send a PR if you think it's a bug but not familiar enough with Pizzly to be sure.

[2021-02-23 11:17] SamFrampton01 commented on #194
Thanks, this is now resolved.

[2021-02-23 16:52] #194 closed

[2021-02-25 02:43] tobiaspfuetze opened #203 "Xero doesn't authenticate correctly"
The Xero integration doesn't authenticate correctly, due to the following missing variable in the header:

"Xero-Tenant-Id": "your-xero-tenant-id"

The ID seems to be static and needs to be declared to make requests. The /connections endpoint is an exception.
You will get the following error with the current configuration making e.g. a GET request to endpoint /api.xro/2.0/Accounts:
{
"title": "For

[2021-02-25 21:17] timmyg opened #204 "pizzly-js open oauth in same window"
Is there a way to open the oauth flow in the same window? I am getting rejected from shopify app store review.

"don't use pop-up windows for essential app functionality like running OAuth. This protects the functionality of your app from being compromised by pop-up blockers."

Willing to do a PR if you all think this is something doable. If so, a point in the right direction would be great. Thank

[2021-02-25 21:22] timmyg commented on #204
I am assuming it is around here: https://github.com/Bearer/Pizzly/blob/56fbc55e4543028610757e6e699623be14996944/src/clients/javascript/src/connect.ts#L89

Wondering if I am going down a rabbit hole though. If it goes to a new page, obviously I wont get a clean callback with the authId as intended with this library...

[2021-02-28 18:47] markmichon commented on #204
I'm not sure if there is a particularly good solution to this out of the box, as for most (perhaps all) Pizzly users they would lose the current app state when the page change happens.

You would need some client-side route to catch the callback, then send the payload back up to the Pizzly server (using Pizzly's API routes). At that point much of the benefits of using the drop-in client are pretty

[2021-03-09 14:14] Fastmind-inc commented on #198
@cfabianski Went ahead and submitted the pull request

[2021-03-10 15:44] #198 closed

[2021-03-13 00:04] Slluxx commented on #181
Hey, im also getting this error.
i downloaded pizzly-js via node to integrate it into my vuejs application. Has this not beeing fixed yet? which version can i implement safely without worrying about it and cors?

[2021-03-15 14:44] markmichon commented on #181
Hey @Slluxx, I'm unable to reproduce your problem. Make sure that pizzly itself is working on whatever platform you have it deployed (like Heroku), and then provide more information if you find you're still having the problem. For now, I'm closing this issue as it is otherwise resolved when using the default settings.

[2021-03-15 14:44] #181 closed

[2021-03-16 21:06] Fastmind-inc opened #210 "Heroku is no longer working"
Heroku was workig perfectly then all of a sudden, with out redeploying I started getting

Using environment: production
FS-related option specified for migration configuration. This resets migrationSource to default FsMigrations
FS-related option specified for migration configuration. This resets migrationSource to default FsMigrations

error: no pg_hba.conf entry for host "X.XX.XX.XX", user "XXXX

[2021-03-16 21:48] Fastmind-inc commented on #210
Problem Solved

Seems like the problem stand for adding a config var  PGSSLMODE = no-verify
The problem  comes from people who previously deployed an instance prior to that change. It has to be manually added.

[2021-03-17 14:59] dflw-marcelo commented on #210
Thanks!

![Screen Shot 2021-03-17 at 11 58 47](https://user-images.githubusercontent.com/70495363/111488652-34384580-8718-11eb-961f-c661962eda3f.png)

[2021-03-17 15:21] Slluxx commented on #181
I did not include the Pizzly via script tag because it would throw an exception that Pizzly is not defined when opening the site. Instead i used npm install to install the latest version to my project and imported Pizzly like this:
(BTW: I think this should be the default and not including it via JS tag like in your example)

`import Pizzly from '../../node_modules/pizzly-js/dist/index.umd'`

[cod

[2021-03-17 21:45] Fastmind-inc commented on #210
@dflw-marcelo You're welcome!

[2021-03-18 08:36] cfabianski commented on #210
Thanks for the report. It's indeed linked to https://github.com/Bearer/Pizzly/issues/192

Happy you managed to have it fixed.

[2021-03-18 08:36] #210 closed

[2021-03-18 13:41] Slluxx commented on #181
@markmichon v0.2.5 works and i am getting an authId but when trying to use that ID like this:

[code]

The answer im getting is a CORS error:

`Access to fetch at 'http://embedmanager.herokuapp.com/proxy/discord/users/@me' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight req

[2021-03-19 13:57] Slluxx opened #212 "Not deployable on Heroku"
While testing things for #181 i managed to somehow crash my pizzly instance, deleted it and tried to set it up again. Everything goes smoothly till "Run scripts & scale dynos" where i get the following message:

`An unexpected error with postdeploy script caused the job to fail`

[code]

[2021-03-19 14:02] Slluxx commented on #212
This seems to be resolved after maintenance on Herokus plattform

[2021-03-19 14:02] #212 closed

[2021-03-19 14:27] Slluxx commented on #181
I am very sorry @markmichon but this issue is not resolved and i am getting pretty frustrated.
I have set up a new vue project and a new heroku instance just to be sure. As said above 0.2.5 works fine except CORS error when trying to actually reach API/Proxy. 0.2.8 doesn't even let me log in.

**NPM version:**
7.5.3

**Node version:**
v15.10.0

**Error message:**
`Error: Authorization cancelled. T

[2021-03-19 15:19] markmichon commented on #181
@Slluxx I'd advise you to try and further debug or look at possibly submitting a fix if you can identify the issue. I've just done a fresh install of pizzly on heroku, created a react app based off the codesandbox linked above, and set up a discord app to test. All worked fine, and I can't reproduce the problem. If it's a vuejs conflict, that's more of an issue with how vue is being used, as pizzl

[2021-03-20 00:24] Slluxx commented on #181
With the help of 2 friends i figured out that 0.2.8 does not work when using insecure http. The problem here was that Pizzly on chrome thought that everything went smooth, because there was no error by the discord modal. When using safari or firefox, discord would state that the redirect url is invalid.

I cant set up SSL in my environment so i asked the 2 friends if they would set it up independe

[2021-03-30 13:54] Nightbr opened #213 "Implement healthchecks probe"
Hey,

could be great to implement a route for Healtcheck, it is really usefull to integrate with orchestrator such as Kubernetes.

There are a lots of good libraries to handle this but a simple route can be nice.

- https://github.com/godaddy/terminus
- https://github.com/gajus/lightship

Feel free to ask me anything about this, I will try to help if I have time too!

Cheers

[2021-03-30 16:31] Fastmind-inc opened #214 "How to request a long lived token Instagram and Facebook"
In the case of instagram and facebook  the token we receive are short lived tokens.
which then we need to trade in for long lived ones

https://developers.facebook.com/docs/instagram-basic-display-api/guides/long-lived-access-tokens/

is that something that is possible through pizzly??

[2021-03-31 08:32] skwidy opened #215 "Salesforce refresh token"
Hello there,

Been using Pizzly for quite a while now, and it seems we've always had problems with refreshing the Salesforce token.
The refresh strategy configured on the connected app is "valid until revocation" so technically it should not expire.

When I'm taking a closer look at the token in Pizzly, the "expiresIn" value is 0..
I'm pretty sure it expires the first time we use it.

In "tokenRes

[2021-04-01 11:01] skwidy opened #216 "Snov integration - multiple configurations"
Following the issue discussed on this [commit](https://github.com/Bearer/Pizzly/pull/165) I'm wondering if Snov has been tested?

I can't manage to work with Snov, with or without multiple configurations.
I used to be able to use at least one configuration but now I'm just getting "Error: INTERNAL_ERROR: Encountered an unexpected error. Please contact support" which is impossible to debug (I'm usi

[2021-04-13 04:11] anuragphadke opened #218 "Google Drive and Google Sheet integration using single API endpoint"
- I am using existing GSheet API and want to increase the scope to Google Drive.
- Added the GDrive scope
- OAuth screen shows the correct new scopes

When I make the request (with appropriate headers):
https://<url>/proxy/google-drive/files?q=mimeType%3D%27application%2Fvnd.google-apps.spreadsheet%27&pizzly_pkey=<my_key>

[code]

Any idea if it is possible to use GDrive and GSheets API using the

[2021-04-13 17:47] markmichon commented on #218
Since Google is using differing subdomains for each of their APIs, the integrations have been set up for ease of use rather than flexibility. That makes your use case a bit harder, as the proxy is hard-coded for whichever URL an integration is configured with.

One approach you could try is creating a custom Google integration that makes the subdomain configurable by the user (somewhat like the ba

[2021-04-14 01:04] anuragphadke commented on #218
@markmichon : good suggestion. I was planning to add an `advanced integration` where user can come in and add a JSON in the scopes section.
The JSON will look something like this:
[code]

Does this make sense? Happy to open a PR if the above is in-line with what you are thinking..

[2021-04-15 12:26] brianwachira opened #219 "Where do I get the publishable keys"
I have gone through the documentation for more than 4 hours now. It is not clear where I can get the publishable keys. Where do I get the publishable keys?

[2021-04-15 13:59] anuragphadke commented on #219
@brianwachira : are u self-hosting or on heroku/something else?
publishable keys are only needed when you are securing an instance.

Few docs for reference in case you missed them:
https://github.com/Bearer/Pizzly/blob/master/docs/getting-started.md
https://github.com/Bearer/Pizzly/blob/master/docs/securing-your-instance.md
The publishable key is only valid once its explicitly setup as env variabl

[2021-04-15 14:37] brianwachira commented on #219
I followed the instructions on  [https://github.com/Bearer/Pizzly#getting-started](https://github.com/Bearer/Pizzly#getting-started), hosted on heroku and I wanted to use my instance from a react application. On the code sandox example [https://codesandbox.io/s/pizzly-github-react-demo-rq78z](url), it shows that I need to have publishable keys and setup ID. Where am I to get them?

[2021-04-15 16:10] markmichon commented on #219
@brianwachira If you're on heroku, you can set your keys in heroku interface under "Settings > Reveal Config Vars". You then need to create/set keys that match those listed in the "Securing your instance" doc that @anuragphadke posted.
![image](https://user-images.githubusercontent.com/1649672/114902098-592ce080-9dca-11eb-8d7e-3a3608d19350.png)

[2021-04-15 16:38] #190 closed

[2021-04-15 16:56] brianwachira commented on #219
Thanks!
I have now seen where it explains on how to get secret key. It's on this link that @anuragphadke posted->  [https://github.com/Bearer/Pizzly/blob/master/docs/securing-your-instance.md#extra-options](url)
![image](https://user-images.githubusercontent.com/28436092/114906766-0d5a5580-9e23-11eb-9e59-06fc67ab1fdc.png)

I guess maybe the documentation could be improved so that the instructions

[2021-04-15 17:04] markmichon commented on #218
I worry it's an overly complex solution. I was thinking more like having a unified google integration that reduces the path:

[code]
Then it would require any proxy users to do the full path on top of that, so ... `drive/v3/etc/etc/etc`. Might be worth trying something like that locally to see if it solves your use case before embarking on any major rewrites.

[2021-04-15 17:07] markmichon commented on #219
Ah sorry about the confusion, we need to change some things. Bearer's product is no longer focused on what is mentioned within Pizzly, so you won't be able to integrate it with Bearer (unless you're on a legacy account).

[2021-04-15 17:15] brianwachira commented on #219
Alright.
So that means I do not need a secret key, publishable key & setup ID in order to have it on my react app like in this example?
[https://codesandbox.io/s/pizzly-github-react-demo-rq78z?file=/src/App.js](url)

[2021-04-15 18:18] markmichon commented on #219
If you want to securely access from a front-end app, you need the publishable key. Your react app, etc, will use the domain of your pizzly instance and the publishable key to authenticate.

[2021-04-15 18:50] brianwachira commented on #219
This may sound like a noob question, but how do I generate a publishable key?
I guess publishable key is like a public key, right?

[2021-04-15 18:53] markmichon commented on #219
There aren't any requirements for the publishable key, however for security it shouldn't match any secret keys or passwords that you use. Many people generate their key with a password generator.

[2021-04-15 19:02] brianwachira commented on #219
I wish I had known this earlier. I ended up creating an express server to handle OAuth. I guess the documentation could be improved?

[2021-04-15 19:02] #219 closed

[2021-04-16 08:55] Nightbr opened #220 "Typing for the pizzly-node client"
Hey!

I have integrated the pizzly-node in application but it seems there is no typing for TypeScript.

`import Pizzly from 'pizzly-node';` -> `Pizzly` is type `any`

Seems it is the bundling options of the library which will not create an ESM module and have the typing for TypeScript.

**Workaround**: redifined an interface and type with the interface:

[code]

The pizzly-node client is written i

[2021-04-16 15:15] anuragphadke commented on #218
@markmichon : fair suggestion, two questions:
where will the scopes and endpoints reside?
for eg:
analytics =>
scopes:
[code]
endpoint:
[code]

drive =>
scopes:
[code]
endpoint:
[code]

trying to figure out the best way for user to add scopes/endpoints

[2021-04-16 17:07] markmichon commented on #220
Definitely seems achievable. I'll see if I can get this working.

[2021-04-20 17:00] Nmaxime opened #222 "Twitter requests return "Could not authenticate you""
Any help would be very appreciated :)

# Problem
When I query the twitter api through the pizzly proxy, I get this error :
[code]

# Steps to reproduce
 - deploy Pizzly on platform.sh or run it locally
 - Create a Twitter developer account and a twitter app with 3-legged OAuth enabled and callback urls configured
 - Setup a twitter configuration in pizzly
 - In Authentications tab, connect to twit

[2021-04-20 21:16] Nightbr commented on #220
Seems just enabling declaration should work:

[code]

[2021-04-21 03:29] anuragphadke commented on #218
@markmichon : just created a PR at https://github.com/Bearer/Pizzly/pull/223 with something that I think can benefit everyone.

[2021-04-22 23:53] markmichon commented on #222
Not sure why this is happening. I'm seeing it too when testing a new account, but it certainly worked fine in the past. Perhaps something with changes to their auth or config with the new v2 API.

[2021-04-28 02:53] eurubkov opened #225 "Authorization cancelled. The user has likely interrupted the process by closing the modal."
Hi,

I am getting this error "Authorization cancelled. The user has likely interrupted the process by closing the modal." in the dev console after I have auth'd with Github. I can see in the dashboard in Heroku that the Auth Id has been generated though and I can even use it to query the Github API. Is it something I should handle on the UI side? I am just trying it with the examples from the Read

[2021-04-29 03:16] eurubkov commented on #225
Found this response: https://github.com/Bearer/Pizzly/issues/181#issuecomment-803205756
Basically, if running a React app locally, instead of doing `npm start` do `set HTTPS=true&&npm start`

[2021-04-29 03:16] #225 closed

[2021-05-12 16:56] Nightbr commented on #220
Closed by #226

[2021-05-12 16:56] #220 closed

[2021-07-02 15:48] SamFrampton01 opened #230 "warning: You appear to have cloned an empty repository."
- I deployed a pizzly-node app to Heroku a few months ago direct from Github page. Everything worked fine but now I need to customise the apps codebase and add Google Search Console tag and verify domain of app.

I try and clone repo onto my computer but I get following error above. Can anyone explain why this is happening with Heroku? It's clearly not empty as I have an app deployed and working.

[2021-07-02 17:09] SamFrampton01 commented on #230
**Solved**

For anyone else who ever runs into this issue it is due to the button you click when you deploy your app. https://heroku.com/deploy?template=https://github.com/Bearer/Pizzly

Read this stackoverflow answer to solve the issue: https://stackoverflow.com/questions/13804885/heroku-gitclone-creates-empty-repository/41379481

[2021-07-02 17:09] #230 closed

[2021-08-16 01:44] TanAidan opened #233 "Redirect URL after authentication"
Is it possible to have the modal opened by Pizzley direct to another url after authentication?

[2021-08-18 20:59] TanAidan opened #234 "Delete from dashboard does not work"
Deleting an authentication from the dashboard does not work.
I can call the api using Delete {url}/api/{app_name}/authentications/{auth_id} and it works as intended

But when I delete through the dashboard, the dashboard calls
https://dev-oauthservice.lutherlab.com/dashboard/{app_name}/authentications/{auth_id}

This call does not work as intended. The authentication fades away, on refresh it come

[2021-08-20 01:43] amaru0601 opened #235 "Retrieve a list of authentications - Incomplete"
Hello everyone,
I would like to receive the list of authentication ids as it is described in /docs/API.md
`/api/:integration/authentications` - To retrieve a list of authentications for that integration

However when I read the file src/routes/api.ts I never find the endpoint to get the list of authentication ids.

[2021-08-20 07:45] tadabasecode opened #236 "Create Configuration from API with scopes"
Is it possible to create a new configuration via API? I am able to successfully create the configuration but can't figure out how to also create scope inside the configuration.

I see this in the docs:

`curl -X POST /api/github/configurations \`
`-H "Content-Type: application/json" \`
`-d '{"credentials": { "clientId": "...", "clientSecret": "..." }}'`

How can I pass here the scopes as well?

[2021-08-24 17:41] TanAidan opened #237 "Scripts May only close the windows opened by them Pizzly JS client"
I am using electron to create a desktop app. When I try to connect to pizzly through localhost on my browser, it works perfectly fine. When I use the electron app, I am able to authenticate but the window does not close due to the warning "Scripts May only close the windows opened by them"

[2021-08-24 18:48] markmichon commented on #233
You are best handling that in the client after auth is successful with your own routing. The modal communicates back to the page itself to let the client know that everything works, and pass the necessary information.

[2021-08-24 18:48] #233 closed

[2021-08-24 19:03] markmichon commented on #237
I believe electron uses a different system for handling message events from browser windows. Pizzly (the js client) has only really been tested in the browser. I personally haven't seen anyone use pizzly in electron, but it may require a custom client or some form of shim/polyfill from the electron community. The JS client should give some insight into the web technologies used for the message com

[2021-08-24 19:07] markmichon commented on #236
I believe you want a `scopes` key on the body that sends an array of scopes. Here's the source that consumes it https://github.com/Bearer/Pizzly/blob/5946e661559e1e8f0c484a39938c79643a3a1c2b/src/routes/api.ts#L367-L374

[2021-08-27 08:28] eykamp opened #239 "yarn db:setup not working as documented"
To be clear, I resolved my issue as noted below, but I think there is a problem with the documentation that makes installation difficult.

I'm installing pizzly on a headless Ubuntu server, following the documentation on the getting started page.

When I ran the `yarn db:setup` command, I got an error: `error: password authentication failed for user xxxxx`.

This is probably because my database do

[2021-08-27 08:33] eykamp opened #240 "Running pizzly on a different port?"
Port 8080 is already used on my server for something else.  Is there a way to tell pizzly to use a different port?

[2021-08-31 12:02] maximeNaulleau commented on #222
I find out the solution, pizzly query parameters need to be removed before calling the twitter API :

https://github.com/Bearer/Pizzly/blob/master/src/lib/proxy/index.ts#L160
https://github.com/Bearer/Pizzly/blob/master/src/lib/proxy/index.ts#L67

[2021-09-09 19:13] amaru0601 commented on #240
it depends how you are running pizzly, I would recommend you to use a dockerfile and manage your port from there

[2021-09-14 21:08] tadabasecode opened #242 "Uploading Base64 images to Twitter"
Good afternoon,

I'm having a unique issue with Twitter, perhaps someone has some insight.

To upload files to Twitter the URL must be uploads.twitter.com, so I set the URL to use a header value:

`"baseURL": "https://${headers.api_url}.twitter.com/1.1/",`

However, when I pass header name `"Pizzly-Proxy-api_url": "api"` twitter always responds with error 32, could not authenticate you. I know the

[2021-09-27 04:08] TanAidan commented on #222
@maximeNaulleau did you resolve the issue, even when I do my own curl call, the authentication tokens provided by twitter do not work

[2021-09-27 12:07] maximeNaulleau commented on #222
@TanAidan , I replaced the oauth library used for oauth1 with this one : https://www.npmjs.com/package/oauth-1.0a
You can easily read the source code and get any information you need for your curl call. Be sure that `pizzly_*` params are not included during the signature generation.

[2021-10-13 22:20] justabuzz opened #243 "Zoom tokens won't refresh"
Hi, I am not sure why, but Zoom tokens don't refresh even though I see a refresh token in the AuthId record. I didn't make any change to the code.

I am not too sure what to include to support this except the fact that the Authentication record update_at isn't updated, the "exp" of the token is already in the past and the Pizzly's log reports on invalid token responses from Zoom.

Can anyone help?

[2021-12-25 23:30] markacianfrani opened #245 "Support for http options"
I've been working on a [figma integration](https://www.figma.com/developers/api#authentication) and ran into a ton of issues. Mostly generic errors from the wreck library "Content-type is not JSON compatible."

I was able to finally get it working by passing in `json: force` on `getToken()`.  For example:
[code]

the simple-oauth2 library supports a `httpOptions` param on the `getToken` method. ht

[2022-01-17 14:40] paulsingh commented on #181
Chiming in here in case others are stuck with this problem.

TLDR: the `host` param accepts the full URL. See here:

https://github.com/Bearer/Pizzly/blob/7e2c02ae479f64b4ecca052783e038c5e0d38b7c/src/clients/javascript/src/index.ts#L69-L71

Longer explanation:

If you've followed the example setup, you're running Pizzly on Heroku. And, by default, the Heroku URL you're likely going to use is secur

[2022-02-21 10:54] LouisCapelle opened #247 "Twitch client id is missing"
Hello guys,

When I try to fetch twitch, the json response says that my client id is missing, but pizzly does allow me to set a client id.

Error:

<img width="962" alt="Capture d’écran 2022-02-21 à 11 49 26" src="https://user-images.githubusercontent.com/60433418/154941404-74f5d3f1-98f1-40db-ba75-b8c240ab93e4.png">

[2022-03-07 19:22] sunnylausa opened #250 "Support Basic Auth Authentication Type"
Good morning,

I am trying to integrate with PayPal's API - [PayPal's API Documentation](https://developer.paypal.com/api/rest/authentication), and it requires Basic Auth for the authentication type.

However, when I set the authType to "Basic Auth" in the integration json file, I get an error that only 'OAuth1', 'OAuth2', and 'No_Auth' are supported.

Is there a way to use Basic Auth with Pizzly?

[2022-03-24 20:57] transitive-bullshit opened #251 "https://www.bearer.com/pizzly 404"
Wanted to check this out as it looks promising, but https://www.bearer.com/pizzly returns an error for me.

- chrome v99
- macos monterey

<img width="1255" alt="Screen Shot 2022-03-24 at 4 56 06 PM" src="https://user-images.githubusercontent.com/552829/160008882-fde67134-4976-4718-9f3a-25bd5c81c6fd.png">

[2022-04-20 10:20] johtso opened #252 "Configuration for Flickr API"
Before I start experimenting, does anyone have a working configuration for the Flickr api (oauth1)?

https://www.flickr.com/services/api/auth.oauth.html

[2022-04-20 12:14] johtso commented on #252
Okay, looks like it was as easy as adding the parameter to `authorizationParams` in the integration.

How could I avoid hardcoding the permissions? Would it be appropriate to put them in the `scopes` setting, and if so, can I access that setting in the integration?

[2022-04-20 12:40] johtso opened #254 "How to allow client to revoke an authentication"
I don't see anything in the docs explaining this.

Can I do it through the js client? Or do I need to make a call to the API? Which endpoint would I need to hit?

[2022-04-20 12:44] johtso opened #255 "https://www.bearer.sh/pizzly no longer exists"
This is currently the project url, should probably be removed.

[2022-04-20 12:50] johtso opened #256 "Codesandbox examples in readme no longer working"
The examples no longer work:
[Pizzly + React](https://codesandbox.io/s/pizzly-github-react-demo-rq78z)
[Pizzly + Vue.js](https://codepen.io/frenchcooc/pen/RwrmXJw)

[2022-04-20 13:14] johtso opened #257 "Duplicate authorizations"
Currently it seems that if you connect multiple times with the same authId multiple authorizations are created. Does this not seem wrong?

I would imagine that `.auth("just-testing").connect()` should be idempotent..

What's the right way to only connect if the user hasn't already connected?

[2022-04-20 15:43] johtso opened #258 "pizzly-js: Trying to make request with unauthorized authId should cause Promise to reject"
Currently if the response is 404
[code]

..the response does not get interpreted as an error.

[2022-04-21 22:53] johtso commented on #258
Actually.. seeing as fetch only rejects if there is a network error it's not totally clear what the best thing is to do here. It does feel like if there's an issue on the Pizzly side of things it should be separated from a payload returned by the destination server..

[2022-04-21 22:54] johtso commented on #252
My configuration currently works for `GET` requests but not for `POST` requests (Flickr responds with an invalid signature error).. any ideas why that might be?

[2022-04-26 14:49] #251 closed

[2022-06-24 17:42] der-ofenmeister opened #260 "Microsoft OneDrive refresh token"
Hi there,

A bit of a weird issue, as I've configured two applications inside OneDrive, one corresponding to Outlook Email + Calendar scopes, and the other for OneDrive + SharePoint scopes. Pizzly seems to be refreshing Outlook tokens, but not for OneDrive.

When I go see authentications in Pizzly's admin dashboard, I see refresh tokens for both configurations, so this is really puzzling me (pardo

[2022-07-06 03:53] s-omar opened #261 "403 Forbidden on callback URL"
I'm trying to create a custom integration for ServiceNow. This is my integration JSON below:

[code]

I am able to get past the authorization step (popup appears, I can log into my ServiceNow account successfully), however once I click "Allow" and ServiceNow attempts to respond back with the code, I get a 403 error in the Pizzly logs (below):

`method=GET path="/auth/callback?code=XXXX1234&state=n

[2022-07-07 08:38] #261 closed

[2022-09-03 16:02] mc-stack88 opened #262 "webhooks support"
Can pizzly be used to setup webhooks or websockets? I'm trying to setup webhook server to consume Asana notifications.

[2022-09-05 02:44] MattRiddell commented on #256
I think there were some changes to free Heroku accounts lately?

Yeah:

[Heroku Announces End Of Free Services](https://www.i-programmer.info/news/84-database/15693-heroku-announces-end-of-free-services.html)

[2022-09-05 18:45] moracabanas commented on #179
Sorry to reopen this issue, but in my case I got lost because my integration was not showing and I ended up here.
It seems this is not reflected on the README yet.

[2022-10-27 14:56] #214 closed

[2022-10-27 14:56] #215 closed

[2022-10-27 14:56] #216 closed

[2022-10-27 14:56] #218 closed

[2022-10-27 14:56] #222 closed

[2022-10-27 14:56] #234 closed

[2022-10-27 14:56] #235 closed

[2022-10-27 14:56] #237 closed

[2022-10-27 14:56] #239 closed

[2022-10-27 14:56] #240 closed

[2022-10-27 14:56] #242 closed

[2022-10-27 14:56] #243 closed, assigned to nobody

[2022-10-27 14:56] #247 closed

[2022-10-27 14:56] #250 closed

[2022-10-27 14:56] #252 closed

[2022-10-27 14:56] #254 closed

[2022-10-27 14:56] #256 closed

[2022-10-27 14:56] #257 closed

[2022-10-27 14:56] #258 closed

[2022-10-27 14:56] #260 closed

[2022-10-27 14:56] #262 closed

[2022-10-27 14:56] #52 closed

[2022-10-27 14:56] #65 closed

[2022-10-27 14:56] #168 closed

[2022-10-27 14:56] #174 closed

[2022-10-27 14:56] #177 closed

[2022-10-27 14:56] #178 closed

[2022-10-27 14:56] #183 closed

[2022-10-27 14:56] #184 closed

[2022-10-27 14:56] #186 closed

[2022-11-17 15:52] rguldener opened #263 "RFC for Pizzly 2.0: We want your input"
Hey Pizzly community,

we are Bastien and Robin, the new stewards of Pizzly 🐻

Pizzly became popular because it is one of the fastest and simplest ways to get started with APIs that use OAuth. Currently Pizzly has some issues with the latest version of node and the code has been largely unmaintained for 1+ year.

We want to fix and improve Pizzly, but for this we need your help:
- Do you have expe

[2022-11-19 11:43] rcknr commented on #263
Hi Robin,

It's great that you have convinced guys at Bearer to revive the repository! I have also reached out to offer my help in maintaining Pizzly but they said they had decided to archive it.
There were a couple of issues/PRs before the project got archived. I think it makes sense to look over these for some feedback first. Here are my personal observations about Pizzly:
- It'd be great to hav

[2022-11-21 16:40] bastienbeurier commented on #263
Thank you for chiming in and offering to contribute!

I will go through previous issues & PRs as you advised. Also, feel free to create issues (or even PRs) if you want some of your suggestions to be implemented soon.

We are currently focusing on refreshing/fixing the repo for local development, but it would be great to have your input as we move towards improving it.

We've created a Slack room

[2022-11-26 19:08] mikestaub commented on #263
1. prioritize proxy as that is how 80% of dev will likely use this tool
2. do NOT rewrite. At least not until the API surfaces are solid and the tool has more traction. This techt debt should not be paid at this time.
3. in-code. This is a dev tool, no need to maintain a UI, someone else can do that
4. Just create a docker image. This should not be prioritized at this stage

[2022-11-28 08:51] bastienbeurier commented on #263
Thank you for your input @mikestaub!

1. Understood, we've heard this from other Pizzly as well!
2. After taking a 1st pass at the codebase and finding it hard to maintain, we actually already took a pass at the rewrite last week. We will release it today and plan to have feature parity next Monday.
3. Great, this alines with the rest of the feedback as well.
4. Agreed, we've done this as part of

[2022-11-29 09:48] Simcon commented on #263
100% what @mikestaub says.

It should be completely configurable in code so configs can be versioned.

[2022-11-29 09:59] MattRiddell commented on #263
1. Agreed with @mikestaub
2. I could go both ways on this. If you're being significantly slowed down by working on a codebase that doesn't match your internal tooling, it may be worth it. Hah just saw your comment. Cool.
3. Hmm, I'm not 100% sure about going code only. When I first started using it, there was something magic about click click click, you're done. We host it in Nomad, and it just wo

[2022-11-30 08:41] bastienbeurier commented on #263
Thanks a lot for voicing your opinions about Pizzly’s future (here and on the [#pizzly Slack channel](https://nango.dev/slack)). There seems to be a pretty nice consensus around important features.

Last week, we started a full rewrite of Pizzly on a branch ([v0.3](https://github.com/NangoHQ/Pizzly/tree/v0.3)) to make the code more maintainable and accelerate future development. It already works,